    html, body {

        height: 100%;
        width: 100%;
        background-color: #000000;
        background-image: url('picture/space.jpg.webp');
        background-size: cover;
        font-size:xx-large;
        color: whitesmoke;
        text-align: center;
        
    }
    

    .board {

        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, auto);
        width: 306px;
        margin: 300px auto;
        color: rgb(0, 0, 0);
        width: 500px;
        padding-top: 150px;
        margin: 0 auto;
        

    }
  
    
    .square {

        border-radius: 5%;
        font-family: "Permanent Marker", cursive;
        text-align: center;
        width: 150px;
        height: 150px;
        border: 5px solid #000000;
        cursor: pointer;
        line-height: 100px;
        font-size: 100px;
        background-color: #ffffff;

    } 
  

    #new-game {

        font-size: 25px;
        background-color: #08a372; 
        border: none;
        color: rgb(255, 255, 255);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 10%;
        cursor: pointer;
        font-size: 40px;

    }


    #massage {
        
        font-family: "Permanent Marker", cursive;
        font-size: 70px;
        color: #000000;
        

    }

    
    #timer {
        
        font-family: "Permanent Marker", cursive;
        font-size: 70px;
        color: #ff0000;
    }


    #game_rules {

        font-family: "Permanent Marker", cursive;
        font-size: 35px;
        color: #ffffff;
        text-align: left;
        
    }